<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
<!--
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Example user</strong>
                            </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
//-->
            <li class="<%= 'active' if current_page?('/') %>">
                <%= link_to "/" do %>
                <i class="fa fa-laptop"></i> <span class="nav-label">Resumen Global</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/userhome/personal') %>">
                <%= link_to "/userhome/personal" do %>
                <i class="fa fa-user"></i> <span class="nav-label">Personal</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/userhome/education') %>">
                <%= link_to "/userhome/education" do %>
                <i class="fa fa-graduation-cap"></i> <span class="nav-label">Educación</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/userhome/experience') %>">
                <%= link_to "/userhome/experience" do %>
                <i class="fa fa-briefcase"></i> <span class="nav-label">Experiencia</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/userhome/languages') %>">
                <%= link_to "/userhome/languages" do %>
                <i class="fa fa-language"></i> <span class="nav-label">Idiomas</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/userhome/hobbies') %>">
                <%= link_to "/userhome/hobbies" do %>
                <i class="fa fa-paper-plane"></i> <span class="nav-label">Hobbies</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/userhome/volunteering') %>">
                <%= link_to "/userhome/volunteering" do %>
                <i class="fa fa-hand-o-up"></i> <span class="nav-label">Voluntariado</span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>

